body {
    background-image: url("p4.png");
}

/*body, html, #app, .target, .col-md-4, .panel-primary {
  height: 100%;
}*/

.height-full {
  height: 100vh;
}

.panel-primary {
  position: relative;
  margin-top: 20px;
}

.panel-primary.height-full .panel-footer{
  position: absolute;
  bottom: 0px;
}

.panel-primary.height-full .btn-group-vertical {
  position: absolute;
  bottom: 80px;
  margin-right: 15px;
}

/*.panel-primary .text {
  padding: 50px;
}*/
