body {
    background-image: url("p4.png");
}

/*body, html, #app, .target, .col-md-4, .panel-primary {
  height: 100%;
}*/

.height-full {
  height: 100vh;
}

.panel-primary {
  position: relative;
  margin-top: 20px;
}

.panel-primary.height-full .panel-footer{
  position: absolute;
  bottom: 0px;
}

.panel-primary.height-full .btn-group-vertical {
  position: absolute;
  bottom: 80px;
  margin-right: 15px;
}

/*.panel-primary .text {
  padding: 50px;
}*/


svg {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.user-pref {
  margin-right: 15px
}

.label {
  margin-left: 15px;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: #222;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

